body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

.welcome-page {
    text-align: center;
}


.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.option {
    display: inline-block;
    margin: 10px; 
}

.overlay {
    display: flex;
    justify-content: center; 
}

.feedback-message {
    margin-top: 20px; 
}

.info-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.monument-info {
    max-width: 80%; 
    margin-top: 20px; 
}

@media (max-width: 600px) {
    .monument-info {
        max-width: 90%; 
    }
}
