body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Volledige hoogte van het scherm */
    margin: 0; /* Verwijder standaardmarges */
    background-color:#607B7D;
}

.welcome-page {
    text-align: center;
    background-image: url('world.png');
    background-size: contain; /* Schaal de achtergrondafbeelding om volledig in de container te passen */
    background-repeat: no-repeat; /* Zorg ervoor dat de afbeelding niet wordt herhaald */
    background-position: center; /* Plaats de achtergrond in het midden van de pagina */
    display: flex; /* Gebruik flexbox om items te centreren */
    flex-direction: column; /* Plaats items in kolommen */
    justify-content: center; /* Centreer items verticaal */
    align-items: center; /* Centreer items horizontaal */
    height: 100vh; /* Volledige hoogte van het scherm */
}


.start-button {
    font-size: 24px;
    padding: 12px 24px;
    background-color: #E0E0E0;
    border-color: transparent;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Voeg een subtiele box-shadow toe */

}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Om het spelcontainer in het midden te plaatsen */
    font-size: 24px;
}

.option {
    display: inline-block;
    margin: 20px; /* Voeg wat ruimte toe tussen de opties */
}

.title {
    font-size: 1.5em;
    color: white;
    text-align: center;
}
.overlay {
    display: flex;
    justify-content: center; /* Om de opties in het midden van het spelcontainer te plaatsen */
}

#option1,
#option2 {
    font-size: 24px;
    border-radius: 12px;
    padding: 10px 64px;
    background-color: rgb(243, 229, 229);
}

.feedback-message {
    margin-top: 20px; /* Voeg wat ruimte toe tussen het monument en het feedbackbericht */
}

.info-page {
    display: flex;
    flex-direction: column;
    margin-left: 10%;

}

.monument-info {
    width: 100%; /* Beperk de maximale breedte van de informatie */
    margin-top: 12px; /* Voeg wat ruimte toe tussen de kop en de informatie */
    font-size: 24px;

}

.monument-image {
    width: 400px; /* Maak de breedte van de afbeelding 100% van de container */
    height: auto; /* Laat de hoogte automatisch aanpassen om de aspectverhouding te behouden */
    max-width: 500px; /* Beperk de maximale breedte van de afbeelding om te voorkomen dat deze te groot wordt */
    display: block; /* Zorg ervoor dat de afbeelding een blokelement is om marges correct toe te passen */
    margin: 0 auto; /* Centreer de afbeelding horizontaal in de container */
    border-radius: 48px;
}

.next-question-button {
    font-size: 24px;
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #E0E0E0;
    border-color: transparent;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Voeg een subtiele box-shadow toe */
}

.feedback-message {
    font-size: 24px;
    text-align: center;
    color: red;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}


@media (max-width: 600px) {
    .monument-info {
        max-width: 100%; /* Verminder de maximale breedte op kleinere schermen */
    }

    .monument-image {
        max-width: 300px;
    }

    #option1,
    #option2 {
    font-size: 24px;
    border-radius: 12px;
    padding: 10px 32px;
    background-color: rgb(243, 229, 229);
}

}
